.signupCtr{
    position: absolute;
    top:20%;
    left:33%;
    width: 500px;
    height: 500px;
 }
.heading{
    text-align: center;
    font-size: 1.5rem;
    margin-top: 5px;
}
.group{
    margin-left: 1rem;
    
}
.group input{
    width:92%;
    height:30px;
    margin-bottom: 1rem;
    border-radius: 2px;
    border: gray 1px solid;
    font-size: 1rem;
    padding-left: 5px;
}
.group label{
    margin-bottom: 10px;
}
.group button{
    width:94%;
    height:50px;
    border-radius: 5px;
    font-size: 1rem;
    margin-top: 0.5rem;
    color: black;
    background: linear-gradient(45deg, #0ABDE3, transparent);
    cursor: pointer;
}
.group button:hover{
    color: white;
    background-color: black;
}
.footer{
    text-align: center;
    margin-top: 1rem;
}
.link{
 color: blueviolet;
}
/* Responsiveness */

@media screen and (min-width: 320px) and (max-width:578px){
    .signupCtr{
        position: fixed;
        
        left:15%;
        width: 300px;
        height:550px;
    
    }
}
@media screen and (min-width:579px)and (max-width:878px){
    .signupCtr{
        position: fixed;
        
        left:30%;
        
        width: 350px;
        height:350px;
    
    }
}
